<section class="section-margin about-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 mb-5 mb-lg-0">
            <div class="about__content">
              <div class="section-intro">
                <h4 class="section-intro__title">About Us</h4>
                <h2 class="section-intro__subtitle">We sell best tea from all over the world.</h2>
              </div>
              <p></p>
              <hr>
            </div>
          </div>
          <div class="col-lg-5 offset-lg-2">
            <div class="about__img">
              <img class="img-fluid" src="home/chinise1.jpg" alt="">
                <img src="home/mint1.jpg" alt="" class="about__img--small img-fluid">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ end about section ================= -->



    <!-- ================ start feature section ================= -->

    <section class="section-margin--large">
      <div class="container">
        <div class="section-intro pb-70px">
          <h4 class="section-intro__title">Know the benefits from the tea.</h4><hr>
          <h2 class="section-intro__subtitle"> <span class="d-block"></span></h2>
        </div>

        <div class="row gutters-48">
          <div class="col-md-6 col-xl-3 mb-5 mb-xl-0">
            <div class="card text-center card-feature border-style">
              <div class="card-feature__icon"></div>
              <h3 class="card-feature__title">Jasmine Tea</h3>
              <a class="button" href="https://www.organicfacts.net/health-benefits/beverage/health-benefits-of-jasmine-tea.html">  <p>Click here to read more.</p></a>

            </div>
          </div>

          <div class="col-md-6 col-xl-3 mb-5 mb-xl-0">
            <div class="card text-center card-feature border-style">
              <div class="card-feature__icon"></div>
              <h3 class="card-feature__title">Peppermint Tea</h3>
              <a class="button" href="https://www.healthline.com/nutrition/peppermint-tea">  <p>Click here to read more.</p></a>
            </div>
          </div>

          <div class="col-md-6 col-xl-3 mb-5 mb-xl-0">
            <div class="card text-center card-feature border-style">
              <div class="card-feature__icon"></div>
              <h3 class="card-feature__title">Earl Gray Tea</h3>
            <a class="button" href="https://www.naturalfoodseries.com/11-benefits-earl-grey-tea/">  <p>Click here to read more.</p></a>
            </div>
          </div>

          <div class="col-md-6 col-xl-3 mb-5 mb-xl-0">
            <div class="card text-center card-feature border-style">
              <div class="card-feature__icon"></div>
              <h3 class="card-feature__title">Camomile Tea</h3>
            <a class="button" href="https://www.organicfacts.net/health-benefits/beverage/chamomile-tea-benefits-uses.html">  <p>Click here to read more.</p></a>
            </div>
          </div>
        </div>
      </div>
    </section>
